body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.ok{
background-color: rgb(15, 19, 13);
color: aliceblue;
}
.header-left h1 {
    margin: 0;
}

.header-right ul {
    list-style-type: none;
    text-decoration:  none;
    margin: 0;
    padding: 0;
}

.header-right ul li {
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
}
.header-right ul li a {
    color: white;
    text-decoration: none;
}

#upload-image.upload-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
